// MIXINS

// Mixin To Add a Background Image
@mixin img-replace($img, $width, $height) {
    background-image: url("#{path--rel}/#{$img}");
    background-repeat: no-repeat;
    width: $width;
    height: $height;
}

//Mixin To Easily Add an element
@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

// Mixin to easily add a modifier
@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}

//Mixin to add a breakpoint
@mixin breakpoint($device) {
    @media screen and (min-width: map-get($breakpoints, $device)) {
        @content;
    }
}

// Mixin for the animation
@mixin btn-animation($name) {
    animation: $name $animation-duration ease-in-out forwards;
}

// Bottom border
@mixin btn-border($color) {
    border-bottom: 3px solid $color;
}

// Mixin of a button just the colors are changing

@mixin btn($bg-color:$color-accent, $text-color:$color-primary, $color-hover:$color-primary, $txt-color-hover:$color-accent, $color-border:$blue-border) {
    height: 25px;
    text-transform: capitalize;
    background-color: $bg-color;
    border: none;
    color: $text-color;
    cursor: pointer;
    font-size: rem(12px);
    transition: all $animation-duration;
    &:hover {
        background-color: $color-hover;
        color: $txt-color-hover;
        @include btn-border($color-border);
    }
}

// Mixin for the Arrows
@mixin arrow {
    position: absolute;
    width:50px;
    height: 50px;
    background-color: $color-transparence;
    top:40%;
    z-index: 20;
}