//==================================
// BUTTON RULES
//==================================

.btn {
    @include btn;
    @include btn-border($blue-border);
    &:hover {
        @include btn-border($color-primary);
    }
}

.btn-proj {
    position: relative;
    @include btn($bg-color__nav, $color-secondary, $color-accent, $color-primary);
    @include btn-border($bg-color__nav);
    width: rem(80px);
    height: rem(30px);
    &:hover:before {
        content: "";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $blue-border;
        position: absolute;
        top:105%;
        left: 45%;
    }
}
