//==================================
// BUTTON RULES
//==================================

.btn {
    @include btn;
    @include btn-border($blue-border);
    &:hover {
        @include btn-border($color-primary);
    }
}

.btn-proj {
    position: relative;
    @include btn($bg-color__nav, $color-secondary, $color-accent, $color-primary);
    @include btn-border($bg-color__nav);
    width: rem(80px);
    height: rem(35px);
    color: $color-text;
    font-weight: $font-weight--bold;
    &:hover:before {
        content: "";
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $blue-border;
        position: absolute;
        top:105%;
        left: 45%;
    }
}
