//===================================
// SECTION SEPARATOR RULES
//===================================

.separator {
    @include dot(relative);
    margin: $margin-sep auto;
    &::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        top: 4px;
        right: -35px;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: -10;
    }   
}
