//=================================
// Basic page configuration
//=================================

*,
*::before,
*::after {
    box-sizing: border-box;
}
#bloc_page {
    width: clamp(rem(256px), 95vw, rem(1440px));
    margin: 0 auto;
    font-size: $base__font-size;
    font-family: $font-family--secondary;
    color: $color-text;
    overflow: hidden;
}

h1, h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: $font-family--primary;
    font-weight: $font-weight--black;
}
h1 {
    color: $white;
    font-size: rem(24px);
}

h2 {
    font-size: rem(22px);
    color: $black;
}

h3, h4 {
    text-transform: capitalize;
    font-weight: $font-weight--bold;
}

h3 {
    font-size: rem(18px);
    color: $black;
}

h4 {
    font-size: rem(14px);
    color: $white;
}

a, a:visited, a:active {
    text-decoration: none;
    color: $color-secondary;
}
