//================================
// HEADER NAVIGATION
//================================

.header-nav {
    display: none;
    @include breakpoint(laptop) {
        display: block;
        margin-left: 150px;
        width: 30vw;
        margin-right: auto;
        ul {
            display: flex;
            justify-content: space-between;
        }
        @include e(link) {
            text-transform: capitalize;
            padding-top: 20px;
            border-top: 3px solid transparent;
            transition: all 0.8s;
            a {
                transition: color 0.4s;
                &:hover {
                    color: $color-accent;
                }
            }
            &:hover, a:hover {
                border-top-color: $color-accent;
            }
        }
    }
}