//================================
// HEADER NAVIGATION
//================================

.header-nav {
    position: absolute;
    width: 40%;
    height: 40vh;
    top: 0;
    right: 0;
    border-radius: 50% 0 0 50%;
    background-color: rgba($color-text, 0.9);
    transform: scale(1, 0);
    transition: all $animation-duration ease-in-out;

    @include m(active) {
        transform: scale(1);
        transition: all $animation-duration ease-in-out;
        z-index: -10;
    }
    ul {
        position: absolute;
        top:25%;
        right: 25%; 
    }
    a {
        color: $color-primary;
        &:hover {
            color: $color-accent;
        }
    }
    @include e(link) {
        margin-bottom: rem(15px);
        text-transform: uppercase;
    }
    @include breakpoint(laptop) {
        all: unset;
        margin-left: 150px;
        width: 30vw;
        margin-right: auto;
        ul {
            position: relative;
            top: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
        }
        @include e(link) {
            text-transform: capitalize;
            padding-top: 20px;
            border-top: 3px solid transparent;
            transition: all 0.8s;
            &:hover {
                border-top-color: $color-accent;
            }
            a {
                color: $color-text;
                transition: color 0.4s;
            }
        }
    }
}