//=====================================
// SLIDER RULES
//=====================================

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    margin-bottom: calc($margin-sep * 5);
    @include breakpoint(tablet) {
        margin-bottom: 10px;
        height: 300px;
    }
    @include breakpoint(laptop) {
        height: 400px;
    }
    @include breakpoint(desktop) {
        height: 500px;
    }
    @include e(img) {
        position: absolute;
        width: 100%;
        z-index: 10;
        height: 250px;
        @include breakpoint(tablet) {
            height: 300px;
        }
        @include breakpoint(laptop) {
            height: 400px;
        }
        @include breakpoint(desktop) {
            height: 500px;
        }
    }
    @include e(arrow-left) {
        @include arrow;
        left: -20px;
        border-radius: 0 50% 50% 0;
        cursor: pointer;
        i {
            position: relative;
            top:  25%;
            left: 55%;
            color: $color-primary;
        }
    }
    @include e(arrow-right) {
        @include arrow;
        right: -20px;
        border-radius: 50% 0 0 50%;
        cursor: pointer;
        i {
            position: relative;
            top:  25%;
            right: -25%;
            color: $color-primary;
        }
    }
    @include e(bar) {
        position: absolute;
        z-index: 20;
        width: 100px;
        height: 3px;
        background-color: $color-accent;
        bottom:0;
    }
}

.slider-description {
    position:absolute;
    margin-right: 50%;
    top: 25%;
    left: 10%;
    color: $color-primary;
    z-index: 50;
    @include breakpoint(tablet) {
        top: 35%;
    }
    @include e(title) {
        text-align: left;
        span {
            color: $color-accent;
        }
    }
    @include e(subtitle) {
        font-size: rem(12px);
        margin-bottom: $margin-sep;
    }
}