//=================================
// FORM RULES
//=================================

.contact-form {
    width: 300px;
    min-height: 400px;
    margin: $margin-sep auto;
    background-color: rgba($grey-1, 0.7);
    display: flex;
    flex-direction: column;
    padding: $margin-sep;
    border-radius: $btn--border-radius;
    input {
        margin: $margin-sep 0;
        height: 30px;
        &::placeholder {
            text-transform: capitalize;
        }
    }
    textarea {
        margin: $margin-sep 0;
        height: 200px;
        text-transform: capitalize;
    }
    @include e(btn) {
        width: 40%;
        &:hover {
            background-color: $color-secondary;
            color: $color-primary;
        }
    }
}

