//=======================================
// PROJECTS RULES
//======================================


.projects {
    position: relative;
    background-color: $bg-color__project;
    padding: $margin-sep;
    margin-bottom: calc($margin-sep * 10);
    
    @include e(description) {
        text-align: center;
        width: 60%;
        margin: auto;
        margin-bottom: calc($margin-sep * 2);
    }
    
    ul {
        display: flex;
        margin: auto;
        width: fit-content;
        margin-bottom: rem(60px);
    }
    @include e(container) {
        display: grid;
        gap: calc($margin-sep * 2);
        padding: calc($margin-sep * 2);
        grid-template-columns: repeat(auto-fit, minmax(rem(280px), 1fr));
        @include breakpoint(laptop) {
            grid-template-columns: repeat(auto-fit, minmax(rem(200px), 1fr));
        }
        @include breakpoint(desktop) {
            grid-template-columns: repeat(auto-fit, minmax(rem(300px), 1fr));
        }
    }
}

.projects-item {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin: auto;
    &:hover > .projects-item__description {
        opacity: 1;
        transform: translateY(0);
    }
    @include breakpoint(laptop) {
        height: 180px;
    }
    @include breakpoint(desktop) {
        height: 200px;
    }
    &:first-child {
        background: url("#{$path--rel}portfolio/01.jpg") no-repeat center;   
    }
    &:nth-child(2) {
        background: url("#{$path--rel}portfolio/02.jpg") no-repeat center;
    }
    &:nth-child(3) {
        background: url("#{$path--rel}portfolio/03.jpg") no-repeat center;
    }
    &:nth-child(4) {
        background: url("#{$path--rel}portfolio/04.jpg") no-repeat center;
    }
    &:nth-child(5) {
        background: url("#{$path--rel}portfolio/05.jpg") no-repeat center;
    }
    &:nth-child(6) {
        background: url("#{$path--rel}portfolio/06.jpg") no-repeat center;
    }
    &:nth-child(7) {
        background: url("#{$path--rel}portfolio/07.jpg") no-repeat center;
    }
    &:nth-child(8) {
        background: url("#{$path--rel}portfolio/08.jpg") no-repeat center;
    }
    &:nth-child(9) {
        background: url("#{$path--rel}portfolio/full.jpg") no-repeat center;
    }

    @include e(description) {
        width: 100%;
        height: rem(80px);
        position: absolute;
        bottom: 0;
        background-color: $color-transparence;
        color: $color-primary;
        opacity: 0;
        transform: translateY(-50px);
        transition: all $animation-duration ease-in-out;
        h4 {
            position: absolute;
            top:0;
        }
        p {
            position: absolute;
            top:30%;

            &:first-letter {
                text-transform: capitalize;
            }
        }
        
    }
}

